/*
    project
        - name        : My CV sites
        - create date : 22 November 2022
        - author By   : Hamit Mızrak
        - version     : v.1
*/

/* ####################################### */
/* base configuration */
/* root: sürekli kullancağımız tag için burada değişken adı olarak kullanmak */
:root {
    --template-bg: #f2f2f2 !important;
    --template-color: #302f2f !important;
    --max-width: 1100px;
    --nav-icon-color: #d8b320;
    --footer-color: #000000;
}

/* ####################################### */
/* Common Property */
* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: 15px;
    transition: 1s all;
}

body {
    font-family: 'Hind', sans-serif;
    font-size: 1.1rem;
    background-color: var(--template-bg);
    color: var(--template-color);
    line-height: 1.5;
    position: relative;
}


/* ####################################### */
/*tags*/
a {
    text-decoration: none;
}


ul {
    list-style-type: none;
}

p {
    text-align: center;
    margin: .5rem 1rem;
}

i {
    font-size: 1rem;
}

img {
    max-width: 100%;
    height: auto;
}

img:hover {
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, .9);
    cursor: pointer;
}

/* ####################################### */
/* line-clamp */
.line-clamp4 {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.line-clamp6 {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}

.line-clamp7 {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
}

.line-clamp8 {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
}

/* ####################################### */
/* navbar */
#navbar {
    opacity: .9;
}

#navbar i {
    color: var(--nav-icon-color);
}

#logo {
    border-radius: 50%;
    height: 2rem;
}


/* dark mode */
.dark_mode {
    color: var(--template-bg);
    background-color: var(--template-color);
}

/* ####################################### */
/* header */
header {
    background-image: url(./images/header.jpg);
    background-size: cover;
    background-position: 50% 50%;
    z-index: -1;
    height: 110vh;
    padding-top: 16rem;
}


/* ####################################### */
/* main */




/* ####################################### */
/* footer */
footer {
    min-height: 21rem;
    width: auto;
    background-color: var(--footer-color);
    color: aliceblue;
}



/* ####################################### */
/* back_top */
#back_top {
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right: .5rem;
    margin-bottom:.3rem;
    width: 4.5rem;
    padding-top:.5rem;
    border-radius: .5rem;
    transition: .8s all;
}

#back_top:hover{
    opacity: .8;
    box-shadow: 1px 1px 2px 1px rgba(154, 247, 3, 0.8);
}